/* CSS for styling your homepage */
body {
    font-family: Arial, sans-serif;
    background-color: #c1d1c9;
    margin: 0 auto; /* Add margin to the body */
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #054e05;
    color: #e4dcdc;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #343534;
    color: #e4dcdc;
    overflow: hidden;
    margin-bottom: 20px; /* Add margin at the bottom of the navigation bar */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

main h1 {
    text-align: center;
}

main ul {
    list-style-type: none;
    padding: 0;
    column-count: 3; /* Set the number of columns to 2 */
    column-gap: 20px; /* Adjust the gap between columns */
}

main li {
    margin: 10px 0; /* Add margin between each list item */
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


footer {
    background-color: #054e05;
    color: #e4dcdc;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push the footer to the bottom */
}
