body {
    font-family: Arial, sans-serif;
    background-color: #c1d1c9;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #054e05;
    color: #e4dcdc;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #343534;
    color: #e4dcdc;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logoutButton {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;

    /* Position the button on the right side */
    position: fixed;
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#loginButton {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;

    /* Position the button on the right side */
    position: fixed;
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#mypageButton {
    box-shadow: inset 0px 1px 0px 0px #6c73cf;
    background: linear-gradient(to bottom, #1e1bd0 5%, #1815bc 100%);
    background-color: #1b27d0;
    border-radius: 3px;
    border: 1px solid #111e94;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #292b85;

    /* Position the button on the right side */
    position: fixed;
    top: 110px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#validationButton {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:3px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

    /* Position the button on the right side */
    position: fixed;
    top: 60px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#createButton {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:3px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;

    /* Position the button on the right side */
    position: fixed;
    top: 110px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#updateButton {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:3px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
#updateButton:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
#updateButton:active {
	position:relative;
	top:1px;
}

#editButton {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:3px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
#editButton:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
#editButton:active {
	position:relative;
	top:1px;
}

#submitButton {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
#submitButton:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
#submitButton:active {
	position:relative;
	top:1px;
}

#teacherButton {
	box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#teacherButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#teacherButton:active {
	position:relative;
	top:1px;
}

#wishlistButton {
	box-shadow:inset 0px 1px 0px 0px #232f3e;
	background:linear-gradient(to bottom, #232f3e 5%, #000000 100%);
	background-color:#146fb4;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ff9900;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#wishlistButton:hover {
	background:linear-gradient(to bottom, #000000 5%, #232f3e 100%);
	background-color:#000000;
}
#wishlistButton:active {
	position:relative;
	top:1px;
}

#registerButton {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}
#registerButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
#registerButton:active {
	position:relative;
	top:1px;
}

#indexButton {
	box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#indexButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#indexButton:active {
	position:relative;
	top:1px;
}

main_index {
    margin: 0 auto;
    max-width: 800px;
}

main_index h1 {
    text-align: center;
}

main_index ul {
    list-style-type: none;
    padding: 0;
    column-count: 3;
    column-gap: 20px;
}

main_index li {
    margin: 10px 0;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 1000px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

smallerlabel label{
    display: block;
    margin-bottom: 5px;
}

footer {
    background-color: #054e05;
    color: #e4dcdc;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.team-member img {
	border-radius: 50%;
	width: 150px; /* Adjust the size as needed */
	height: 150px; /* Adjust the size as needed */
}

.teacher-info img {
	border-radius: 50%;
	width: 250px; /* Adjust the size as needed */
	height: 250px; /* Adjust the size as needed */
}

#teacherDay img {
	border-radius: 50%;
	width: 100px; /* Adjust the size as needed */
	height: 100px; /* Adjust the size as needed */
}

#randomTeacherInfo img {
	border-radius: 50%;
	width: 100px; /* Adjust the size as needed */
	height: 100px; /* Adjust the size as needed */
}


/* Style the T&C modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
  }
  
  /* Modal content */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* Close button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
#termsButton {
	box-shadow: 0px 1px 0px 0px #000000;
	background:linear-gradient(to bottom, #000000 100%);
	background-color:#000000;
	border-radius:11px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #020801;
}
#termsButton:hover {
	background:linear-gradient(to bottom, #ffffff 0%, #000000 100%);
	background-color:#ffffff;
}
#termsButton:active {
	position:relative;
	top:1px;
}