body {
    font-family: Arial, sans-serif;
    background-color: #c1d1c9;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #054e05;
    color: #e4dcdc;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #343534;
    color: #e4dcdc;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logoutButton {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;

    /* Position the button on the right side */
    position: fixed;
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#loginButton {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;

    /* Position the button on the right side */
    position: fixed;
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#mypageButton {
    box-shadow: inset 0px 1px 0px 0px #6c73cf;
    background: linear-gradient(to bottom, #1e1bd0 5%, #1815bc 100%);
    background-color: #1b27d0;
    border-radius: 3px;
    border: 1px solid #111e94;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #292b85;

    /* Position the button on the right side */
    position: fixed;
    top: 60px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#validationButton {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:3px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

    /* Position the button on the right side */
    position: fixed;
    top: 110px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#createButton {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:3px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;

    /* Position the button on the right side */
    position: fixed;
    top: 160px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other elements */
}

#validateButton {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

main_index {
    margin: 0 auto;
    max-width: 800px;
}

main_index h1 {
    text-align: center;
}

main_index ul {
    list-style-type: none;
    padding: 0;
    column-count: 3;
    column-gap: 20px;
}

main_index li {
    margin: 10px 0;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 1000px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

footer {
    background-color: #054e05;
    color: #e4dcdc;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
